<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="edu.washington.cs.cupid.preferences"
            class="edu.washington.cs.cupid.jdt.preferences.JdtPreferencePage"
            id="edu.washington.cs.cupid.jdt.preferences.JdtPreferencePage"
            name="Java (JDT)">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="edu.washington.cs.cupid.jdt.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="edu.washington.cs.cupid.publishers">
      <publisher
            class="edu.washington.cs.cupid.jdt.Activator">
      </publisher>
   </extension>
   <extension
         point="edu.washington.cs.cupid.schedulingRules">
      <rule
            class="edu.washington.cs.cupid.jdt.scheduling.JavaSchedulingRule">
      </rule>
   </extension>
   <extension
         point="edu.washington.cs.cupid.typeAdapters">
      <adapter
            class="edu.washington.cs.cupid.jdt.types.JavaProjectAdapter">
      </adapter>
      <adapter
            class="edu.washington.cs.cupid.jdt.types.JavaResourceAdapter">
      </adapter>
      <adapter
            class="edu.washington.cs.cupid.jdt.types.ProjectAdapter">
      </adapter>
      <adapter
            class="edu.washington.cs.cupid.jdt.types.CompilationUnitAdapter"
            name="CompilationUnitFileAdapter">
      </adapter>
   </extension>

</plugin>
