<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Cupid Action Set"
            visible="true"
            id="edu.cs.washington.cs.cupid.wizards.actionSet">
         <menu
               label="Cupid"
               id="cupidMenu">
            <separator
                  name="cupidGroup">
            </separator>
         </menu>
         <action
               class="edu.washington.cs.cupid.wizards.actions.CreateMappingAction"
               icon="icons/mapping-icon.png"
               id="edu.cs.washington.cs.cupid.wizards.actions.MappingAction"
               label="&amp;Create Mapping Capability"
               toolbarPath="cupidGroup"
               tooltip="Create Mapping Capability">
         </action>
         <action
               class="edu.washington.cs.cupid.wizards.actions.ExtractFieldAction"
               icon="icons/add-to-database-icon.png"
               id="edu.cs.washington.cs.cupid.wizards.actions.ExtractFieldAction"
               label="&amp;Create Extract Field Capability"
               state="false"
               style="push"
               toolbarPath="cupidGroup"
               tooltip="Create Extract Field Capability">
         </action>
         <action
               label="&amp;Create New Capability"
               icon="icons/heart-add.png"
               class="edu.washington.cs.cupid.wizards.actions.CreatePipelineAction"
               tooltip="Create New Capability"
               toolbarPath="cupidGroup"
               id="edu.cs.washington.cs.cupid.wizards.actions.CreatePipelineAction">
         </action>
      </actionSet>
   </extension>
   <extension
         point="edu.washington.cs.cupid.publish">
      <client
            class="edu.washington.cs.cupid.wizards.internal.Activator">
      </client>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="edu.washington.cs.cupid.wizards.contribution1"
            objectClass="java.lang.Object">
         <menu
               id="edu.washington.cs.cupid.wizards.menu"
               label="Cupid"
               path="additions">
            <separator
                  name="cupidGroup">
            </separator>
         </menu>
         <action
               class="edu.washington.cs.cupid.wizards.popup.actions.NewExtractCapabilityAction"
               enablesFor="1"
               id="edu.washington.cs.cupid.wizards.extract.capability"
               label="Extract Capability"
               menubarPath="edu.washington.cs.cupid.wizards.menu/cupidGroup">
         </action>
         <action
               class="edu.washington.cs.cupid.wizards.popup.actions.NewMappingCapabilityAction"
               enablesFor="1"
               id="edu.washington.cs.cupid.wizards.extract.action"
               label="Create Mapping"
               menubarPath="edu.washington.cs.cupid.wizards.menu/cupidGroup">
         </action>
      </objectContribution>
   </extension>

</plugin>
