<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="edu.washington.cs.cupid.publish">
      <client
            class="edu.washington.cs.cupid.pipes.Activator">
      </client>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="edu.washington.cs.cupid.pipes.actions"
            label="Pipeline Actions">
         <action
               class="edu.washington.cs.cupid.pipes.actions.CreatePipelineAction"
               id="edu.washington.cs.cupid.pipes.actions.information"
               label="New Information Pipeline"
               style="push">
         </action>
         <menu
               id="edu.washington.cs.cupid.pipes.menu"
               label="Cupid Pipelines">
         </menu>
      </actionSet>
   </extension>

</plugin>
