<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.workbench.texteditor.rulerColumns">
      <column
            class="edu.washington.cs.cupid.editor.CupidRuler"
            enabled="true"
            global="true"
            id="edu.washington.cs.cupid.editor.ruler"
            includeInMenu="true"
            name="Cupid Editor Ruler">
         <placement
               gravity="1.0">
         </placement>
         <targetClass
               class="org.eclipse.jdt.internal.ui.javaeditor.JavaEditor">
         </targetClass>
      </column>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="edu.washington.cs.cupid.preferences"
            class="edu.washington.cs.cupid.editor.preferences.CupidRulerPreferencePage"
            id="edu.washington.cs.cupid.editor.preferences.ruler"
            name="Cupid Editor Ruler">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="edu.washington.cs.cupid.editor.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
